@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;800&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #262626;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: inter;
    scroll-behavior: smooth;
}

p {
    font-family: roboto;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    text-align: justify;
}

h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 3% 0% 1% 0%;
    text-align: center;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;

    grid-template-areas:
        "header"
        "main"
        "footer";
}

.main {
    grid-area: main;
}

a {
    text-decoration: none;
}

/*---header---*/


.header {
    grid-area: header;
}

.header .bg-white {
    background-color: #ffffff;
}

.header nav ul li {

    text-align: end;
}

.header nav ul li a {
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.header nav ul li .hover__contacto:hover {
    border-top: #D2EEBB 6px solid;
}

.header nav ul li .hover__contacto:active {
    background: linear-gradient(rgba(181, 228, 172, 0.481), rgba(249, 247, 247, 0.481));
}

.header nav ul li .hover__nosotros:hover {
    border-top: #F6F1C1 6px solid;
}

.header nav ul li .hover__nosotros:active {
    background: linear-gradient(rgba(225, 228, 172, 0.481), rgba(249, 247, 247, 0.481));
}

.header nav ul li .hover__catering:hover {
    border-top: #F6C6C1 6px solid;
}

.header nav ul li .hover__catering:active {
    background: linear-gradient(rgba(228, 195, 172, 0.481), rgba(249, 247, 247, 0.481));
}

.header nav ul li .hover__a__la__carta:hover {
    border-top: #CBDBEE 6px solid;
}

.header nav ul li .hover__a__la__carta:active {
    background: linear-gradient(rgba(172, 212, 228, 0.481), rgba(249, 247, 247, 0.481));
}

.header nav ul li .hover__box__de__regalo:hover {
    border-top: #E9E1F0 6px solid;
}

.header nav ul li .hover__box__de__regalo:active {
    background: linear-gradient(rgba(189, 172, 228, 0.481), rgba(249, 247, 247, 0.481));
}

.header nav ul li a {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}


.navbar-toggler {
    border: none;
    border-radius: 0;
    background: linear-gradient(rgba(238, 187, 187, 0.481), rgba(249, 247, 247, 0.481));
}


/*------------------------estilos index-------------------------*/

/*----MAIN----*/
.hero {
    background: linear-gradient(rgba(152, 120, 120, 0.52), rgba(255, 255, 255, 0.481)), url(../fotos_mumi/main_product.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 233px);
}

/*animacion y h1 index*/
.hero .titulo__animado {
    width: 40%;
    font-family: roboto;
    font-size: 70px;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: justify;
    padding: 2%;
    margin-left: 7%;
    background-image: linear-gradient(to right, #D6A4A4, #e1edb5, #b78484, #f4c789);
    text-decoration: underline 20px rgba(255, 255, 255, 0.412);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    background-size: 300%;
    background-position: -200%;


    animation-name: titulo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


@keyframes titulo {
    from {
        background-position: 0%;

    }

    to {
        background-position: 100%;
    }
}


.introduccion {
    width: 100%;
    background-color: #F3EBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8% 11%;
}

.introduccion h2 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    text-align: left;
    margin-right: 3%;
    width: 34%;
}

.introduccion p {
    width: 60%;
}

/*---productos---*/

.productos .introduccion {
    background-color: #FFF;
}

.grid__container__productos {
    width: 78%;
    height: 100vh;
    margin: 0% auto 5% auto;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);


    grid-template-areas:
        "tarta cheese cheese pie"
        "tarta frutas budin porciones"
        "temporada temporada budin especiales"
        "temporada temporada cuadraditos especiales";

    gap: 20px;
}

.tarta {
    grid-area: tarta;
    background-image: url(../fotos_mumi/prodctos_1.jpg);
}

.cheese {
    grid-area: cheese;
    background-image: url(../fotos_mumi/prodctos_2.jpg);
}

.especiales {
    grid-area: especiales;
    background-image: url(../fotos_mumi/prodctos_3.jpg);
}

.budin {
    grid-area: budin;
    background-image: url(../fotos_mumi/prodctos_4.jpg);
}

.temporada {
    grid-area: temporada;
    background-image: url(../fotos_mumi/prodctos_5.jpg);
}

.pie {
    grid-area: pie;
    background-image: url(../fotos_mumi/prodctos_6.jpg);
}

.frutas {
    grid-area: frutas;
    background-image: url(../fotos_mumi/funciona_2.jpg);
}

.porciones {
    grid-area: porciones;
    background-image: url(../fotos_mumi/funciona_3.jpg);
}

.cuadraditos {
    grid-area: cuadraditos;
    background-image: url(../fotos_mumi/testimonio_4.jpg);
}

.imagenes,
.imagenes__index {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 3s;
}


.imagenes__index:hover {
    transform: scale(0.9);
}

.imagenes:hover {
    transform: scale(1.1);
}

.imagenes h3,
.imagenes__index h3 {
    width: 50%;
    text-align: left;
    background-color: #decbcba8;
    padding: 2%;
}

.grid__container__productos__mobile {
    display: none;
}

/*---servicio---*/

.fondo__servicio__index,
.cards__servicio {
    background: #F3EBEB;
}

.fondo__servicio__index .introduccion {
    padding: 8% 2% 2% 2%;
    margin: 0%;
}

.fondo__servicio__index .introduccion h2 {
    margin-right: 0%;
    width: 40%;
}


/*---inspirate---*/

.inspirate .introduccion {
    background-color: #FFF;
}

.grid__container__inspirate {
    width: 78%;
    height: 60vh;
    margin: 0% auto 5% auto;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);


    grid-template-areas:
        "torta__donut muffin muffin desayuno"
        "torta__donut torta__infantil catering__cumpleaño desayuno"
    ;

    gap: 20px;
}

.torta__donut {
    grid-area: torta__donut;
    background-image: url(../fotos_mumi/testimonio_2.jpg);
}

.muffin {
    grid-area: muffin;
    background-image: url(../fotos_mumi/testimonio_3.jpg);
}

.desayuno {
    grid-area: desayuno;
    background-image: url(../fotos_mumi/testimonio_1.jpg);
}

.torta__infantil {
    grid-area: torta__infantil;
    background-image: url(../fotos_mumi/testimonio_6.jpg);
}

.catering__cumpleaño {
    grid-area: catering__cumpleaño;
    background-image: url(../fotos_mumi/testimonio_5.jpg);
}

/*-----------------------FOOTER-----------------------*/
.footer {
    background-color: #FFFAFA;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5% 7% 1% 7%;
    grid-area: footer;
}

.footer p {
    font-size: 12px;
}

.footer h4 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}

.footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer div img {
    width: 30px;
    height: 30px;
}



/*----------------------Estilos-Generales-Secciones-----------------------*/

.introduccion h1 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    text-align: left;
    margin-right: 3%;
    width: 36%;
}

/*------------------------box-de-regalo-----------------------*/

.card {
    border: none;
}

section .introduccion {
    margin: 0%;
}

.click {
    text-shadow: 4px 4px 2px #decbcb;
    font-family: roboto;
    font-size: 75px;
    font-weight: 600;
    line-height: 105px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(rgba(152, 120, 120, 0.52), rgba(255, 255, 255, 0.481)), url(../fotos_mumi/banner.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    margin: 0%;
}

.click:hover {
    color: #E9E1F0;
    text-shadow: 4px 4px 2px #decbcb;
}

/*---------------------Seccion a la Carta----------------------*/
.cards__combo {
    background-image: linear-gradient(rgba(255, 255, 255, 0.481), rgba(190, 156, 144, 0.52), rgba(255, 255, 255, 0.481));
    padding-top: 2%;

}

.cards__combo .titulo__combo {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
    padding: 3% 0%;
}

.cards__combo>p {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 3% 0%;
}

.cards__combo a p {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 3%;
    transition: 1s;
}

.cards__combo a p:hover {
    color: #9e6155;
    padding-bottom: 3%;
}


.card__carta h2 {
    font-size: 1.5rem;
    color: #a87261;
}

.card__carta ul li {
    font-family: inter;
    font-size: 16px;
    padding: 2% 0%;
}

.card__carta__titulo h4 {
    font-family: roboto;
    letter-spacing: 2px;
    color: #c07d6f;
}

.card__color {
    background-color: #f9f0f0;
}

.card__carta button {
    background-color: #dde8f0;
    border: none;
    color: #262626;
    font-size: 1rem;
}

.card__carta button:hover {
    background-color: #cea992;
}

.animacion__card {
    transition: 1s;
}

.animacion__card:hover {
    transform: scale(1.1);
}

/*---------------------GRID---Seccion Catering--Seccion Carta----------------------*/

.grid__catring__infnatiles,
.grid__catring__casamientos,
.grid__catring__adultos,
.grid__carta__pie,
.grid__carta__temporada,
.grid__carta__budines,
.grid__carta__cheese,
.grid__carta__brownies {
    width: 70%;
    height: 60vh;
    margin: 5% auto;


    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;


    grid-template-areas:
        "foto__vertical texto"
        "foto__vertical  foto__horizontal"
    ;

    gap: 5%;
}

.texto {
    grid-area: texto;
}

.grid__catring__infnatiles .foto__horizontal {
    grid-area: foto__horizontal;
    background-image: url(../fotos_mumi/testimonio_5.jpg);
}

.grid__catring__infnatiles .foto__vertical {
    grid-area: foto__vertical;
    background-image: url(../fotos_mumi/testimonio_6.jpg);
}

.grid__catring__casamientos .foto__horizontal {
    grid-area: foto__horizontal;
    background-image: url(../fotos_mumi/casaminto_2.jpg);
}

.grid__catring__casamientos .foto__vertical {
    grid-area: foto__vertical;
    background-image: url(../fotos_mumi/casamiento_1.jpg);
}

.grid__catring__adultos .foto__horizontal {
    grid-area: foto__horizontal;
    background-image: url(../fotos_mumi/adulto_2.jpg);
}

.grid__catring__adultos .foto__vertical {
    grid-area: foto__vertical;
    background-image: url(../fotos_mumi/adulto_1.jpg);
}

/*-a-la-carta*/
.grid__carta__pie .foto__vertical {
    grid-area: foto__vertical;
    background-image: url(../fotos_mumi/prodctos_6.jpg);
}

.grid__carta__pie .foto__horizontal {
    grid-area: foto__horizontal;
    background-image: url(../fotos_mumi/prodctos_1.jpg);
}


.grid__carta__temporada .foto__vertical {
    grid-area: foto__vertical;
    background-image: url(../fotos_mumi/prodctos_5.jpg);
}

.grid__carta__temporada .foto__horizontal {
    grid-area: foto__horizontal;
    background-image: url(../fotos_mumi/funciona_2.jpg);
}


.grid__carta__budines .foto__vertical {
    grid-area: foto__vertical;
    background-image: url(../fotos_mumi/prodctos_4.jpg);
}

.grid__carta__budines .foto__horizontal {
    grid-area: foto__horizontal;
    background-image: url(../fotos_mumi/budin_2.jpg);
}


.grid__carta__cheese .foto__vertical {
    grid-area: foto__vertical;
    background-image: url(../fotos_mumi/prodctos_2.jpg);
}

.grid__carta__cheese .foto__horizontal {
    grid-area: foto__horizontal;
    background-image: url(../fotos_mumi/funciona_3.jpg);
}

.grid__carta__brownies .foto__vertical {
    grid-area: foto__vertical;
    background-image: url(../fotos_mumi/brownies.jpg);
}

.grid__carta__brownies .foto__horizontal {
    grid-area: foto__horizontal;
    background-image: url(../fotos_mumi/testimonio_4.jpg);
}

.texto h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.texto h3 {
    text-align: left;
}

.foto__horizontal .foto,
.foto__vertical .foto {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-----------------------Nosotros-----------------------*/

.carousel__overlay {
    background: rgba(238, 217, 217, 0.52);
}

/*------------------------Contacto----------------------*/

iframe {
    width: 100%;
    height: 50vh;
    grid-area: mapa;
    background-image: contain;
    border: none;
}

.formulario label {
    font-size: 14px;
    text-transform: uppercase;

}

.formulario input,
.formulario form textarea,
.formulario button {
    border: none;
    border-radius: 0%;
    background-color: #E9E1F0;
    font-family: Roboto;
    font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.formulario button {
    transition: 1s;
}

.formulario button:hover {
    transform: scale(1.1);
}

/*------------MQ-------------*/


/*-------------------------DESKTOP------------------------------*/
@media (max-width: 1262px) {

    .hero .titulo__animado {
        font-size: 55px;
        line-height: 75px;
    }

    .footer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer div {
        margin: 3% 0%;
    }

    .grid__container__productos .imagenes__index h3 {
        width: 57%;
        font-size: 12px;
    }

    .introduccion h2,
    .introduccion h1 {
        font-size: 24px;
        line-height: 34px;
    }
}


@media (max-width: 1110px) {
    .hero .titulo__animado {
        width: 50%;
    }

    .fondo__servicio__index .introduccion {
        padding: 8% 11%;
    }

    .fondo__servicio__index .introduccion h2 {
        margin-right: 3%;
        width: 34%;
    }
    /*------GRID---Seccion Catering--Seccion Carta-----*/


    .grid__catring__infnatiles,
    .grid__catring__casamientos,
    .grid__catring__adultos,
    .grid__carta__pie,
    .grid__carta__temporada,
    .grid__carta__budines,
    .grid__carta__cheese,
    .grid__carta__brownies {
        width: 90%;
        height: 60vh;
    }

    .grid__catring__infnatiles h3,
    .grid__catring__casamientos h3,
    .grid__catring__adultos h3,
    .grid__carta__pie h3,
    .grid__carta__temporada h3,
    .grid__carta__budines h3,
    .grid__carta__cheese h3,
    .grid__carta__brownies h3 {
        font-size: 14px;
    }
}


@media (max-width:992px) {
    p {
        font-size: 13.5px;
    }

    .introduccion,
    .fondo__servicio__index .introduccion {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    .introduccion h2,
    .fondo__servicio__index .introduccion h2,
    .introduccion h1 {
        width: 100%;
        margin: 2% 0% 4% 0%;
        text-align: center;
        font-size: 26px;
        line-height: 40px;
    }

    .introduccion p {
        width: 100%;
        margin: 0%;
        padding: 0% 5%;
    }

    /*---Seccion a la Carta---*/
    .cards__combo a p {
        padding-bottom: 10%;
    }
}

/*-------------------------TABLET------------------------------*/

@media (max-width: 850px) {

    .hero .titulo__animado {
        width: 100%;
        margin-left: 0%;
        padding: 0% 5%;
    }

    p {
        font-size: 13px;
    }

    .introduccion p {
        width: 100%;
        margin: 0%;
    }

    .grid__container__productos {
        width: 100%;
        height: 90vh;
        margin: 2% 1%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);

        grid-template-areas:
            "tarta cheese cheese"
            "tarta pie budin"
            "temporada temporada budin"
            "temporada temporada especiales";

        gap: 10px;
    }

    .grid__container__inspirate {
        width: 100%;
        height: 90vh;
        margin: 2%;


        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);


        grid-template-areas:
            "desayuno catering__cumpleaño catering__cumpleaño"
            "desayuno torta__infantil muffin"
        ;

        gap: 10px;
    }

    /*---box--de--regalo---*/
    .click {
        text-shadow: 4px 4px 2px #decbcb;
        font-family: roboto;
        font-size: 60px;
        font-weight: 600;
        line-height: 75px;
    }

    /*-----Seccion Carta-----*/
    .cards__combo .titulo__combo {
        font-size: 27px;
    }
}


@media (max-width: 700px) {

    /*-----Seccion Carta-----*/
    .cards__combo>p {
        font-size: 14px;
        line-height: 24px;
    }

    /*-----menu logo-----*/
    .logo__menu {
        width: 450px;
    }
}

/*-----menu logo-----*/
@media (max-width: 555px) {
    .logo__menu {
        width: 400px;
    }
}

/*-------------------------PHONES------------------------------*/
@media (max-width: 500px) {

    p {
        font-size: 12.5px;
    }

    .logo__menu {
        width: 300px;
    }

    .footer h4 {
        width: 100%;
        font-size: 12;
        text-align: center;
        margin-bottom: 3%;
    }

    .hero {
        height: 60vh;
        background-size: cover;
    }



    .hero .titulo__animado {
        font-size: 45px;
        font-weight: 600;
        line-height: 68px;
    }

    .introduccion h2,
    .fondo__servicio__index .introduccion h2,
    .introduccion h1 {
        width: 100%;
        margin: 8% 0%;
        font-size: 24px;
        line-height: 32px;
    }

    .grid__container__productos__mobile {
        width: 100%;
        height: 60vh;
        margin: 2% 1%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        grid-template-areas:
            "tarta cheese "
            "tarta especiales"
        ;

        gap: 5px;
    }

    .grid__container__productos {
        width: 100%;
        height: 60vh;
        margin: 2% 1%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        grid-template-areas:
            "budin temporada"
            "cuadraditos temporada"
        ;
        gap: 5px;
    }

    .grid__container__productos .imagenes__index h3 {
        display: none;
    }

    .grid__container__inspirate {
        width: 100%;
        height: 60vh;
        margin: 2% 1%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2 1fr);


        grid-template-areas:
            "catering__cumpleaño catering__cumpleaño"
            "desayuno muffin"
        ;

        gap: 5px;
    }

    /*------GRID---Seccion Catering--Seccion Carta-----*/
    .grid__catring__infnatiles,
    .grid__catring__casamientos,
    .grid__catring__adultos,
    .grid__carta__pie,
    .grid__carta__temporada,
    .grid__carta__budines,
    .grid__carta__cheese,
    .grid__carta__brownies {
        margin: 10% auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;


        grid-template-areas:
            "texto texto"
            "foto__vertical foto__horizontal"
        ;
    }

    .texto h2 {
        font-size: 18.5px;
        line-height: 30px;

    }

    .texto h3 {
        font-size: 14px;
    }

    /*---seccion carta----*/
    .cards__combo>p {
        padding-left: 3%;
        padding-right: 3%;
    }
}


@media (max-width: 420px) {

    .logo__menu {
        width: 275px;
    }

    .hero .titulo__animado {
        font-size: 35px;
        line-height: 68px;
        text-decoration: none;
    }

    .footer div h3 {
        font-size: 12.5px;
    }
}