/*--------GRID-a-la-carta-------*/
.main {
    .a__la__carta {
        .grid__carta__pie {
            @include grid($anchura-secciones + 10, auto, 6% auto, grid, repeat(2, 1fr), repeat(2, 2fr),
                "texto texto""foto__vertical foto__horizontal", 2%);

            .foto__horizontal {
                @include areas(foto__horizontal, url(../fotos_mumi/pie_2.jpg));
            }

            .foto__vertical {
                @include areas(foto__vertical, url(../fotos_mumi/prodctos_1.jpg));
            }
        }
        
        .grid__carta__temporada {
            @extend .grid__carta__pie;

            .foto__horizontal {
                @include areas(foto__horizontal, url(../fotos_mumi/torta_1.jpg));
            }

            .foto__vertical {
                @include areas(foto__vertical, url(../fotos_mumi/prodctos_5.jpg));
            }
        }

        .grid__carta__budines {
            @extend .grid__carta__pie;

            .foto__horizontal {
                @include areas(foto__horizontal, url(../fotos_mumi/prodctos_4.jpg));
            }

            .foto__vertical {
                @include areas(foto__vertical, url(../fotos_mumi/budin_3.jpg));
            }
        }

        .grid__carta__cheese {
            @extend .grid__carta__pie;

            .foto__horizontal {
                @include areas(foto__horizontal, url(../fotos_mumi/funciona_3.jpg));
            }

            .foto__vertical {
                @include areas(foto__vertical, url(../fotos_mumi/prodctos_2.jpg));
            }
        }

        .grid__carta__brownies {
            @extend .grid__carta__pie;

            .foto__horizontal {
                @include areas(foto__horizontal, url(../fotos_mumi/brownie_2.jpg));
            }

            .foto__vertical {
                @include areas(foto__vertical, url(../fotos_mumi/testimonio_4.jpg));
            }
        }
    }
}

/*-------Precios---------*/
.main {
    .cards__combo {
        background-image: linear-gradient(rgba(255, 255, 255, 0.481), rgba(190, 156, 144, 0.52), rgba(255, 255, 255, 0.481));
        padding-top: 2%;
        border-top: 1px solid $fondo-principal;

        .titulo__combo {
            @extend .grid__h__dos;
            text-align: center;
        }

        .llevame {
            @include flex($anchura, flex, column, center, center, wrap, 0%, 0% 0% 3% 0%);

            p {
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                padding: 2% 4%;
            }

            button {
                margin-bottom: 5%;
                padding: 2% 8%;
            }
        }

        .animacion__card {
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }

            .card__color {
                background-color: transparent;

                .card__texto {
                    h3 {
                        font-size: 1.5rem;
                    }

                    ul {
                        li {
                            padding: 2% 0%;
                        }
                    }

                    button {
                        background-color: #eed3b99a;
                        color: $texto-color;
                    }
                }
            }
        }
    }
}