main {
    .card {
        border: none;
        background-color: $fondo-secundario;

        p {
            font-size: 0.9rem;
        }
    }

    .boton__box {
        @include flex($anchura, flex, column, center, center, wrap, 4% auto 8% auto, 0%);

        button {
            @include tipografias(inter, 1.7rem, 500, 2.5rem, center, uppercase, none, 0.1rem);
            padding: 3%;
        }
    }
}