main {
    .click {
        @include tipografias(roboto, 4rem, 600, 7rem, center, uppercase, none, 0.1rem);
        margin: 5% 1%;
        background-image: linear-gradient(to right, #eb6472ed, #6d7caded, #6ac3bc, #819f6eed, #c2b7dded);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 4px 4px 2px #becfaee7;
        background-size: 300%;
        background-position: -200%;
        animation-name: titulo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;

        @keyframes titulo {
            from {
                background-position: 0%;

            }

            to {
                background-position: 100%;
            }
        }

        &:hover {
            color: #E9E1F0;
            text-shadow: 4px 4px 2px #becfae;
        }
    }

    .card {
        border: none;
        background-color: $fondo-secundario;

        p {
            font-size: 0.9rem;
        }
    }

    .boton__box {
        @include flex($anchura, flex, column, center, center, wrap, 4% auto, 0%);
    }
}