.main {
    .grid__catring__infnatiles {
        @include grid($anchura-secciones, 80vh, 3% auto 5% auto, grid, 2fr 3fr, 1fr 2fr, "foto__vertical texto"
            "foto__vertical  foto__horizontal", 20px);

        .foto__horizontal {
            @include areas(foto__horizontal, url(../fotos_mumi/testimonio_5.jpg));
        }

        .foto__vertical {
            @include areas(foto__vertical, url(../fotos_mumi/testimonio_6.jpg));
        }
    }

    .grid__catring__casamientos {
        @extend .grid__catring__infnatiles;

        .foto__horizontal {
            @include areas(foto__horizontal, url(../fotos_mumi//casamiento_2.jpg));
        }

        .foto__vertical {
            @include areas(foto__vertical, url(../fotos_mumi/casamiento_1.jpg));
        }
    }

    .grid__catring__adultos {
        @extend .grid__catring__infnatiles;

        .foto__horizontal {
            @include areas(foto__horizontal, url(../fotos_mumi/adulto_2.jpg));
        }

        .foto__vertical {
            @include areas(foto__vertical, url(../fotos_mumi/adulto_1.jpg));
        }
    }

    .texto {
        grid-area: texto;

        .grid__h__dos {
            font-size: 1.5rem;
            font-weight: 500;
            text-align: left;
            margin-bottom: 2%;
        }

        .grid__h__tres {
            text-align: left;
        }
    }
}