.main {
    .grid__catring__infnatiles {
        @include grid($anchura-secciones + 10, auto, 6% auto, grid, repeat(3, 1fr),repeat(2, 1fr), 
        "foto__vertical texto texto" "foto__vertical  foto__horizontal foto__horizontal__dos", 20px);

        .foto__horizontal {
            @include areas(foto__horizontal, url(../fotos_mumi/infantil_2.jpg));
        }

        .foto__horizontal__dos {
            @include areas(foto__horizontal__dos, url(../fotos_mumi/infantil_1.jpg));
        }
        .foto__vertical {
            @include areas(foto__vertical, url(../fotos_mumi/testimonio_6.jpg));
        }
    }

    .grid__catring__casamientos {
        @extend .grid__catring__infnatiles;

        .foto__horizontal {
            @include areas(foto__horizontal, url(../fotos_mumi//casamiento_2.jpg));
        }

        .foto__horizontal__dos {
            @include areas(foto__horizontal__dos, url(../fotos_mumi/casamiento_3.jpg));
        }

        .foto__vertical {
            @include areas(foto__vertical, url(../fotos_mumi/casamiento.jpg));
        }
    }

    .grid__catring__adultos {
        @extend .grid__catring__infnatiles;

        .foto__horizontal {
            @include areas(foto__horizontal, url(../fotos_mumi/aultos_3.jpg));
        }

        .foto__horizontal__dos {
            @include areas(foto__horizontal__dos, url(../fotos_mumi/adultos_2.jpg));
        }

        .foto__vertical {
            @include areas(foto__vertical, url(../fotos_mumi/adultos_1.jpg));
        }
    }

    .texto {
        grid-area: texto;

        .grid__h__dos {
            font-size: 1.5rem;
            text-align: left;
            margin-bottom: 3%;
        }

        .grid__h__tres {
            text-align: left;
        }
    }
}