.main {
    .titulo__form {
        @include mq_texto (1.2rem, 2rem);
    }

    .formulario {
        label {
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
        }

        .form-control {
            border: none;
            border-radius: 0%;
            background-color: #E9E1F0;
            font-family: Roboto;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
        }

        .boton__form {
            @extend .form-control;
            transition: 1s;
            width: 30%;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .horarios {
        iframe {
            width: $anchura;
            height: 50vh;
            background-image: cover;
            border: none;
        }

        h2 {
            @extend .titulo__form;
        }
    }
}