/*----HERO----*/
.main {
    .hero {
        background: linear-gradient(rgba(152, 120, 120, 0.52), rgba(255, 255, 255, 0.481)), url(../fotos_mumi/main_product.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: calc(100vh - 233px);

        .titulo__animado {
            width: 40%;
            font-family: roboto;
            font-size: 70px;
            font-weight: 700;
            line-height: 98px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: justify;
            padding: 2%;
            margin-left: 7%;
            background-image: linear-gradient(to right, #D6A4A4, #e1edb5, #b78484, #f4c789);
            text-decoration: underline 20px rgba(255, 255, 255, 0.412);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;

            background-size: 300%;
            background-position: -200%;


            animation-name: titulo;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;

            @keyframes titulo {
                from {
                    background-position: 0%;

                }

                to {
                    background-position: 100%;
                }
            }
        }
    }
}

/*---productos---*/

.main {
    .grid__container__productos__mobile {
        display: none;
    }
}


.grid__container__productos {
    width: 78%;
    height: 100vh;
    margin: 0% auto 5% auto;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);


    grid-template-areas:
        "tarta cheese cheese pie"
        "tarta frutas budin porciones"
        "temporada temporada budin especiales"
        "temporada temporada cuadraditos especiales";

    gap: 20px;

    .tarta {
        grid-area: tarta;
        background-image: url(../fotos_mumi/prodctos_1.jpg);
    }

    .cheese {
        grid-area: cheese;
        background-image: url(../fotos_mumi/prodctos_2.jpg);
    }

    .especiales {
        grid-area: especiales;
        background-image: url(../fotos_mumi/prodctos_3.jpg);
    }

    .budin {
        grid-area: budin;
        background-image: url(../fotos_mumi/prodctos_4.jpg);
    }

    .temporada {
        grid-area: temporada;
        background-image: url(../fotos_mumi/prodctos_5.jpg);
    }

    .pie {
        grid-area: pie;
        background-image: url(../fotos_mumi/prodctos_6.jpg);
    }

    .frutas {
        grid-area: frutas;
        background-image: url(../fotos_mumi/funciona_2);
    }

    .porciones {
        grid-area: porciones;
        background-image: url(../fotos_mumi/funciona_3.jpg);
    }

    .cuadraditos {
        grid-area: cuadraditos;
        background-image: url(../fotos_mumi/testimonio_4.jpg);
    }

    .imagenes__index {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 3s;

        &:hover {
            transform: scale(0.9);

        }

        h3 {
            width: 50%;
            text-align: left;
            background-color: #decbcba8;
            padding: 2%;
        }
    }
}

/*---servicio---*/

.fondo__servicio__index {
    background-color: $fondo-principal;

    .cards__servicio {
        @extend .fondo__servicio__index
    }

    .card {
        border: none;
    }
}


/*---inspirate---*/

.grid__container__inspirate {
    width: 78%;
    height: 60vh;
    margin: 0% auto 5% auto;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);


    grid-template-areas:
        "torta__donut muffin muffin desayuno"
        "torta__donut torta__infantil catering__cumpleaño desayuno"
    ;

    gap: 20px;

    .torta__donut {
        grid-area: torta__donut;
        background-image: url(../fotos_mumi/testimonio_2.jpg);
    }

    .muffin {
        grid-area: muffin;
        background-image: url(../fotos_mumi/testimonio_3.jpg);
    }

    .desayuno {
        grid-area: desayuno;
        background-image: url(../fotos_mumi/testimonio_1.jpg);
    }

    .torta__infantil {
        grid-area: torta__infantil;
        background-image: url(../fotos_mumi/testimonio_6.jpg);
    }

    .catering__cumpleaño {
        grid-area: catering__cumpleaño;
        background-image: url(../fotos_mumi/testimonio_5.jpg);
    }
}