/*----HERO----*/
.main {

    .hero {
        background: linear-gradient(rgba(152, 120, 120, 0.735), rgba(255, 255, 255, 0.584)), url(../fotos_mumi/main_product.jpg);
        background-position: 15%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: $anchura;
        height: calc(100vh - 233px);
    }

    .titulo__animado {
        color: #c76b63;
        text-shadow: -5px -1px 0px #debdefdf;
        font-family: oswald;
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 7rem;
        width: $anchura;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.6rem;

    }

}

/*---productos---*/

.main {
    .grid__container__productos__mobile {
        display: none;
    }
}


.grid__container__productos {
    width: $anchura - 22;
    height: 100vh;
    margin: 0% auto 5% auto;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);


    grid-template-areas:
        "tarta cheese cheese pie"
        "tarta frutas budin porciones"
        "temporada temporada budin especiales"
        "temporada temporada cuadraditos especiales";

    gap: 20px;

    .tarta {
        grid-area: tarta;
        background-image: url(../fotos_mumi/prodctos_1.jpg);
    }

    .cheese {
        grid-area: cheese;
        background-image: url(../fotos_mumi/prodctos_2.jpg);
    }

    .especiales {
        grid-area: especiales;
        background-image: url(../fotos_mumi/prodctos_3.jpg);
    }

    .budin {
        grid-area: budin;
        background-image: url(../fotos_mumi/prodctos_4.jpg);
    }

    .temporada {
        grid-area: temporada;
        background-image: url(../fotos_mumi/prodctos_5.jpg);
    }

    .pie {
        grid-area: pie;
        background-image: url(../fotos_mumi/prodctos_6.jpg);
    }

    .frutas {
        grid-area: frutas;
        background-image: url(../fotos_mumi/funciona_2.jpg);
    }

    .porciones {
        grid-area: porciones;
        background-image: url(../fotos_mumi/funciona_3.jpg);
    }

    .cuadraditos {
        grid-area: cuadraditos;
        background-image: url(../fotos_mumi/testimonio_4.jpg);
    }

    .imagenes__index {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 3s;

        &:hover {
            transform: scale(0.9);

        }

        h3 {
            width: $anchura - 50;
            text-align: left;
            background-color: #decbcba8;
            padding: 2%;
        }
    }
}

/*---servicio---*/

.fondo__servicio__index {
    background-color: $fondo-principal;

    .cards__servicio {
        @extend .fondo__servicio__index
    }

    .card {
        border: none;
    }
}


/*---inspirate---*/

.grid__container__inspirate {
    width: 78%;
    height: 60vh;
    margin: 0% auto 5% auto;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);


    grid-template-areas:
        "torta__donut muffin muffin desayuno"
        "torta__donut torta__infantil catering__cumpleaño desayuno"
    ;

    gap: 20px;

    .torta__donut {
        grid-area: torta__donut;
        background-image: url(../fotos_mumi/testimonio_2.jpg);
    }

    .muffin {
        grid-area: muffin;
        background-image: url(../fotos_mumi/testimonio_3.jpg);
    }

    .desayuno {
        grid-area: desayuno;
        background-image: url(../fotos_mumi/testimonio_1.jpg);
    }

    .torta__infantil {
        grid-area: torta__infantil;
        background-image: url(../fotos_mumi/testimonio_6.jpg);
    }

    .catering__cumpleaño {
        grid-area: catering__cumpleaño;
        background-image: url(../fotos_mumi/testimonio_5.jpg);
    }
}