/*----HERO----*/
.main {
    .hero {
        @include flex($anchura, flex, column, center, center, wrap, 0, 0);
        background-image: url(../fotos_mumi/hero_fondo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: calc(100vh - 215px);
    }

    .titulo__hero {
        @include tipografias(Oswald, 3.7rem, 700, 7rem, center, uppercase, none, 0.6rem);
        color: #e3edd1;
        text-shadow: -3px 1px 5px rgba(119, 210, 224, 0.93);
        width: $anchura_mq;

        .grid__container__productos__mobile {
            display: none;
        }
    }
}

/*---productos---*/
.main {
    .productos {
        .introduccion {
            background-color: $fondo-secundario;
        }

        .grid__container__productos {
            @include grid($anchura-secciones, 100vh, 2% auto, grid, repeat(4, 1fr), repeat(4, 1fr), "tarta cheese cheese pie"
                "tarta frutas budin porciones"
                "temporada temporada budin especiales"
                "temporada temporada cuadraditos especiales", 20px);

            .tarta {
                @include areas(tarta, url(../fotos_mumi/prodctos_1.jpg));
            }

            .cheese {
                @include areas(cheese, url(../fotos_mumi/prodctos_2.jpg));
            }

            .especiales {
                @include areas(especiales, url(../fotos_mumi/prodctos_3.jpg));
            }

            .budin {
                @include areas(budin, url(../fotos_mumi/prodctos_4.jpg));
            }

            .temporada {
                @include areas(temporada, url(../fotos_mumi/prodctos_5.jpg));
            }

            .pie {
                @include areas(pie, url(../fotos_mumi/prodctos_6.jpg));
            }

            .frutas {
                @include areas(frutas, url(../fotos_mumi/funciona_2.jpg));
            }

            .porciones {
                @include areas(porciones, url(../fotos_mumi/funciona_3.jpg));
            }

            .cuadraditos {
                @include areas(cuadraditos, url(../fotos_mumi/testimonio_4.jpg));
            }

            .imagenes{
                &:hover {
                    transform: scale(0.9);
                }

                h3 {
                    width: $anchura - 40;
                    text-align: left;
                    background-color:$fondo-transparent;
                    padding: 2%;
                }
            }
        }
    }
}


/*---box--mumi---*/
.main {
    .fondo__servicio__index {
        background-color: $fondo-principal;
        padding-bottom: 3%;

        .introduccion {
            padding-bottom: 2%;
        }
    }
}

/*---inspirate---*/
.main {
    .inspirate {
        .introduccion {
            background-color: $fondo-secundario;
        }

        .grid__container__inspirate {
            @include grid($anchura-secciones, 60vh, 2% auto, grid, repeat(4, 1fr), repeat(2, 1fr), "torta__donut muffin muffin desayuno""torta__donut torta__infantil catering__cumpleaño desayuno", 20px);

            .torta__donut {
                @include areas(torta__donut, url(../fotos_mumi/torta_1.jpg));
            }

            .muffin {
                @include areas(muffin, url(../fotos_mumi/casamiento_3.jpg));
            }

            .desayuno {
                @include areas(desayuno, url(../fotos_mumi/adultos_1.jpg));
            }

            .torta__infantil {
                @include areas(torta__infantil, url(../fotos_mumi/infantil_1.jpg));
            }

            .catering__cumpleaño {
                @include areas(catering__cumpleaño, url(../fotos_mumi/adultos_4.jpg));
            }
        }
    }
}