@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;800&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600;700&display=swap');

@import "../base/mixins-plus";
@import "../base/variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:$texto-color;
    scroll-behavior: smooth;
}

.grid__container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;

    grid-template-areas:
        "header"
        "main"
        "footer";

    h1 {
        @include tipografias(inter, 2.25rem, 400, 2.75rem, left, uppercase, none, 0.1rem);
    }

    h2 {
        @include tipografias(inter, 1.75rem, 400, 2.5rem, left, uppercase, none, 0.1rem);
    }

    h3 {
        @include tipografias(inter, 1rem, 500, 2rem, center, uppercase, none, 0.1rem);
        margin: 3% 0% 1% 0%;
    }

    h4 {
        @include tipografias(roboto, 0.8rem, 400, 1.1rem, left, uppercase, none, 0.1rem);
    }

    p {
        @include tipografias(roboto, 1.1rem, 300, 2rem, justify, none, none, 0.1rem);
    }

    a {
        color:$texto-color;
        text-decoration: none;
        transition: 2s;

        &:hover {
            transform: scale(1.1);
        }
    }

    button {
        @include tipografias(Oswald, 1.1rem, 400, 2rem, center, uppercase, none, 0.1rem);
        padding: 1% 5%;
        border: none;
        border-radius: 20px;
        color: $fondo-secundario;
        background-color: #cea992;
        transition: 2s;

        &:hover {
            color: $color-destacado;
            background-color: $fondo-principal;
            transform: scale(0.9);
        }
    }

    .main {
        grid-area: main;
        background: $fondo-secundario;

        .imagenes,
        .imagenes__index {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: 3s;
            border-radius: 5px;

            .imagenes:hover {
                transform: scale(1.1);
            }
        }
    }
}