/*-------------------------DESKTOP------------------------------*/
@media (max-width: 1400px) {
    .main {
        .hero {
            .titulo__hero {
                @include mq_texto (3rem, 6.5rem);
            }
        }

        .horarios {
            margin-top: 5%;
        }
    }
}

@media (max-width: 1262px) {
    .main {
        .hero {
            .titulo__hero {
                @include mq_texto (2.9rem, 6.4rem);
                text-shadow: -4px -1px 0px #debdefdf;
            }
        }

        .introduccion {
            @include flex($anchura, flex, column, center, center, wrap, 0%, 2% 0%);

            h1,
            h2 {
                width: $anchura-secciones;
                text-align: center;
                margin-right: 0%;
                margin-top: 4%;
                margin-bottom: 4%;
            }

            p {
                width: $anchura-secciones + 10;
                padding-bottom: 2%;
            }
        }

        .productos {
            .grid__container__productos {
                .imagenes__index {
                    h3 {
                        @include mq_texto (0.9rem, 2rem);
                        width: $anchura-secciones;
                    }
                }
            }
        }

        .grid__catring__infnatiles {
            height: 80vh;
        }
    }

    .footer {
        @include flex($anchura, flex, column-reverse, center, center, wrap, 0, 3% 0%);

        div {
            width: $anchura;
            margin: 1% 0%;
        }

        h4 {
            width: $anchura;
            text-align: center;

        }
    }
}


@media (max-width: 1110px) {
    .main {
        p {
            @include mq_texto (1rem, 1.9rem);
        }

        .grid__catring__infnatiles {
            @include mq_grid (auto, "texto texto texto"
                " foto__vertical foto__horizontal foto__horizontal__dos ");
        }
    }
}


@media (max-width:992px) {
    .header {
        .logo__menu {
            margin: 4% 0% 4% 3%;
        }
    }

    .main {

        button {
            padding: 1% 3%;
        }

        .hero {
            height: 70vh;

            .titulo__hero {
                @include mq_texto (2.5rem, 6rem);
            }
        }


        .cards__combo {

            a {
                p {
                    padding-bottom: 10%;
                }
            }
        }
    }
}


/*-------------------------TABLET------------------------------*/
@media (max-width: 850px) {

    .grid__container {
        button {
            @include mq_texto (1rem, 1.5rem);
        }

        h1 {
            @include mq_texto (2rem, 2.3rem);
        }

        h2 {
            @include mq_texto (1.5rem, 2rem);
        }
    }

    .main {

        .hero {
            .titulo__hero {
                text-shadow: -3px -1px 0px #debdefdf;
                letter-spacing: 0.4rem;
            }
        }

        .grid__catring__infnatiles {
            height: 80vh;
        }
        .texto {
            .grid__h__dos {
                @include mq_texto (1.4rem, 2rem);
                font-weight: 400;
                margin-top: 3%;
            }
        }

        .productos {
            .grid__container__productos {
                width: 100%;
                height: 90vh;
                margin: 2% 1%;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);

                grid-template-areas:
                    "tarta cheese cheese"
                    "tarta pie budin"
                    "temporada temporada budin"
                    "temporada temporada especiales";

                gap: 10px;
            }

        }

        .inspirate {
            .grid__container__inspirate {
                width: 100%;
                height: 90vh;
                margin: 2%;


                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);


                grid-template-areas:
                    "desayuno catering__cumpleaño catering__cumpleaño"
                    "desayuno torta__infantil muffin"
                ;

                gap: 10px;
            }

        }

        .click {
            text-shadow: 4px 4px 2px #decbcb;
            font-family: roboto;
            font-size: 60px;
            font-weight: 600;
            line-height: 75px;
        }

        .cards__combo {
            .titulo__combo {
                font-size: 27px;
            }
        }
    }

    .footer {
        div {
            h3 {
                @include mq_texto (1rem, 1.9rem);
            }
        }
    }
}

@media (max-width: 700px) {
    .header {
        .logo__menu {
            width: 70%;
        }
    }

    .main {
        .introduccion {
            h1 {
                margin-top: 8%;
                margin-bottom: 8%;
            }
        }

        .grid__catring__infnatiles {
            @include grid($anchura-secciones, auto, 4% auto, grid, repeat(2, 1fr), repeat(2, 1fr), "texto texto""foto__vertical foto__horizontal", 2%);


            .texto {
                button {
                    margin: 3% 0%;
                }

                .grid__h__dos {
                    margin-top: 5%;
                }
            }
        }
    }
}

@media (max-width: 555px) {
    .main {
        .hero {
            .titulo__hero {
                @include mq_texto (2.3rem, 5.8rem);
                letter-spacing: 0.3rem;
                text-shadow: -2px -1px 0px #debdefdf;
            }
        }

        .a__la__carta {
            .grid__carta__pie {
                @include mq_grid (auto, "foto__vertical foto__vertical""texto texto");
                margin: 2% auto;
                column-gap: 0%;
                row-gap: 3%;
            }
        }

        .texto {
            .grid__h__dos {
                @include mq_texto (1.3rem, 2.3rem);
                background-color: #eed3b99a;
                padding-left: 2%;
            }
        }

        .footer {
            div {
                h3 {
                    @include mq_texto (0.9rem, 1.8rem);
                }
            }
        }
    }
}

/*-------------------------PHONES------------------------------*/
@media (max-width: 500px) {

    .main {
        .introduccion {
            h1 {
                @include mq_texto (1.8rem, 2.2rem);
            }
        }

        .grid__catring__infnatiles {
            @include mq_grid (100vh, "foto__vertical foto__vertical""texto texto");
            margin-bottom: 8%;
        }


        .grid__container__productos__mobile {
            width: 100%;
            height: 60vh;
            margin: 2% 1%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            grid-template-areas:
                "tarta tarta"
                "cheese especiales"
            ;

            gap: 5px;

            .tarta {
                grid-area: tarta;
                background-image: url(../fotos_mumi/prodctos_1.jpg);
            }

            .cheese {
                grid-area: cheese;
                background-image: url(../fotos_mumi/prodctos_2.jpg);
            }

            .especiales {
                grid-area: especiales;
                background-image: url(../fotos_mumi/prodctos_3.jpg);
            }

        }

        .productos {
            .grid__container__productos {
                width: 100%;
                height: 60vh;
                margin: 2% 1%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

                grid-template-areas:
                    "budin budin"
                    "cuadraditos temporada"
                ;
                gap: 5px;

                .imagenes__index {
                    h3 {
                        display: none;
                    }
                }

                .budin {
                    grid-area: budin;
                    background-image: url(../fotos_mumi/prodctos_4.jpg);
                }

                .temporada {
                    grid-area: temporada;
                    background-image: url(../fotos_mumi/prodctos_5.jpg);
                }

                .cuadraditos {
                    grid-area: cuadraditos;
                    background-image: url(../fotos_mumi/testimonio_4.jpg);
                }
            }
        }

        .inspirate {
            .grid__container__inspirate {
                width: 100%;
                height: 60vh;
                margin: 2% 1%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2 1fr);


                grid-template-areas:
                    "catering__cumpleaño catering__cumpleaño"
                    "desayuno muffin"
                ;

                gap: 5px;
            }
        }
    }
}

@media (max-width: 420px) {

    .main {
        .hero {
            .titulo__hero {
                width: 98%;
                font-size: 2rem;
                line-height: 3rem;
                letter-spacing: 0.3rem;
            }
        }

        .main {
            .introduccion {
                h1 {
                    @include mq_texto (1.6rem, 2.2rem);
                }
            }
        }

        .grid__catring__infnatiles {
            .texto {
                .grid__h__dos {
                    @include mq_texto (1.2rem, 2rem);
                }
            }
        }
    }

    .footer {
        div {
            h3 {
                @include mq_texto (0.8rem, 1.7rem);
            }
        }
    }
}

@media (max-width: 359px) {

    .main {
        .texto {
            .grid__h__dos {
                @include mq_texto (1.1rem, 2.2rem);
                
            }
        }
    }

    .footer {
        div {
            h3 {
                @include mq_texto (0.7rem, 1.6rem);
                letter-spacing: 0.07rem;
            }
        }

        h4 {
            @include mq_texto (0.7rem, 1.5rem);
        }
    }
}