/*-------------------------DESKTOP------------------------------*/
@media (max-width: 1400px) {
    .main {
        .hero {
            .titulo__hero {
                @include mq_texto (3rem, 6.5rem);
            }
        }

        .horarios {
            margin-top: 5%;
        }
    }
}

@media (max-width: 1262px) {
    .main {
        .hero {
            .titulo__hero {
                @include mq_texto (2.9rem, 6.4rem);
                text-shadow: -4px -1px 0px #debdefdf;
            }
        }

        .introduccion {
            @include flex($anchura, flex, column, center, center, wrap, 0%, 2% 0%);

            h1,
            h2 {
                width: $anchura-mq;
                text-align: center;
                margin-right: 0%;
                margin-top: 4%;
                margin-bottom: 4%;
            }

            p {
                width: $anchura-mq;
                padding-bottom: 2%;
            }
        }

        .productos {
            .grid__container__productos {
                width: $anchura-mq;

                .imagenes__index {
                    h3 {
                        @include mq_texto (0.9rem, 2rem);
                        width: $anchura-secciones;
                    }
                }
            }
        }

        .inspirate {
            .grid__container__inspirate {
                width: $anchura-mq;
                gap: 10px;
            }
        }
    }

    .footer {
        @include flex($anchura, flex, column-reverse, center, center, wrap, 0%, 3% 0%);

        div {
            width: $anchura;
            margin: 1% 0%;
        }

        h4 {
            width: $anchura;
            text-align: center;

        }

        p {
            width: $anchura;
            text-align: center;
        }
    }
}


@media (max-width: 1110px) {
    .main {
        p {
            @include mq_texto (1rem, 1.9rem);
        }

        .grid__catring__infnatiles {
            @include mq_grid (auto, "texto texto texto"
                " foto__vertical foto__horizontal foto__horizontal__dos");
        }

        .nosotros {
            .grid__container__collage {
                width: $anchura-secciones;
            }
        }
    }
}


@media (max-width:992px) {
    .header {
        .logo__menu {
            margin: 4% 0% 4% 2%;
        }
    }

    .main {
        button {
            padding: 1% 3%;
        }

        .hero {
            height: 70vh;

            .titulo__hero {
                @include mq_texto (2.5rem, 6rem);
            }
        }

        .productos {
            .grid__container__productos {
                height: 80vh;
            }
        }

        .cards__combo {
            a {
                p {
                    padding-bottom: 10%;
                }
            }
        }
    }
}


/*-------------------------TABLET------------------------------*/
@media (max-width: 850px) {

    .grid__container {
        button {
            @include mq_texto (1rem, 1.5rem);
        }

        h1 {
            @include mq_texto (2rem, 2.3rem);
        }

        h2 {
            @include mq_texto (1.5rem, 2rem);
        }
    }

    .main {
        .hero {
            .titulo__hero {
                text-shadow: -3px -1px 0px #debdefdf;
                letter-spacing: 0.4rem;
            }
        }

        .texto {
            .grid__h__dos {
                @include mq_texto (1.4rem, 2rem);
                font-weight: 400;
                margin-top: 3%;
            }
        }

        .nosotros {
            .grid__container__collage {
                width: $anchura - 8;
            }
        }

        .productos {
            .grid__container__productos {
                @include grid($anchura-mq, 100vh, 2% auto, grid, repeat(4, 1fr), repeat(3, 1fr),
                    "tarta tarta cheese cheese""budin budin budin pie""temporada temporada especiales especiales"
                    , 15px);

                .budin {
                    @include areas(budin, url(../fotos_mumi/budin_3.jpg));
                }

                .frutas {
                    display: none;
                }

                .porciones {
                    display: none;
                }

                .cuadraditos {
                    display: none;
                }
            }
        }

        .inspirate {
            .grid__container__inspirate {
                @include mq_grid (70vh, "muffin muffin muffin torta__donut""desayuno desayuno torta__infantil torta__infantil");
                width: $anchura-mq;

                .catering__cumpleaño {
                    display: none;
                }
            }
        }
    }

    .footer {
        div {
            h3 {
                @include mq_texto (1rem, 1.9rem);
            }
        }
    }
}


@media (max-width: 700px) {
    .header {
        .logo__menu {
            width: 70%;
        }
    }

    .main {
        .introduccion {
            h1 {
                margin-top: 8%;
                margin-bottom: 8%;
            }
        }

        .inspirate {
            .grid__container__inspirate {
                @include mq_grid (70vh, "muffin muffin muffin muffin""desayuno desayuno torta__infantil torta__infantil");

                .torta__donut {
                    display: none;
                }
            }
        }

        .grid__catring__infnatiles {
            @include grid($anchura-mq, auto, 4% auto, grid, repeat(2, 1fr), repeat(2, 1fr), "texto texto""foto__vertical foto__horizontal", 2%);

            .texto {
                button {
                    margin: 3% 0%;
                }

                .grid__h__dos {
                    margin-top: 5%;
                }
            }

            .foto__horizontal__dos {
                display: none
            }
        }

        .nosotros {
            .grid__container__collage {
                @include mq_grid (80vh, "masa masa frutitas""horneado mesa mesa""horneado festejo festejo");
            }
        }
    }
}

@media (max-width: 555px) {
    .main {
        .hero {
            .titulo__hero {
                @include mq_texto (2.3rem, 5.8rem);
                letter-spacing: 0.3rem;
                text-shadow: -2px -1px 0px #debdefdf;
            }
        }

        .introduccion {

            h1,
            h2 {
                margin-top: 10%;
                margin-bottom: 10%;
            }
        }

        .grid__container__productos__mobile {
            @include grid($anchura - 5, 60vh, 2% auto, grid, repeat(2, 1fr), repeat(2, 1fr), "tarta tarta""temporada cuadraditos", 5px);

            .tarta {
                grid-area: tarta;
                background-image: url(../fotos_mumi/pie_2.jpg);
            }

            .cheese {
                grid-area: temporada;
                background-image: url(../fotos_mumi/prodctos_5.jpg);
            }

            .especiales {
                grid-area: cuadraditos;
                background-image: url(../fotos_mumi/testimonio_4.jpg);
            }

        }

        .productos {
            .grid__container__productos {
                @include grid($anchura - 5, 60vh, 2% auto, grid, repeat(2, 1fr), repeat(2, 1fr), "cheese cheese"
                    "especiales budin", 5px);

                .imagenes__index {
                    h3 {
                        display: none;
                    }
                }

                .cheese {
                    grid-area: cheese;
                    background-image: url(../fotos_mumi/torta_1.jpg);
                }

                .tarta {
                    display: none;
                }

                .temporada {
                    display: none;
                }

                .pie {
                    display: none;
                }
            }
        }

        .inspirate {
            .grid__container__inspirate {
                width: $anchura - 5;
                height: 60vh;
                margin: 2% auto;
                gap: 5px;
            }
        }
    }


    .a__la__carta {
        .grid__carta__pie {
            @include grid($anchura-secciones + 10, auto, 6% auto, grid, repeat(2, 1fr), repeat(2, 1fr),
                "foto__vertical foto__vertical""texto texto", 3%);
        }

        .foto__horizontal {
            display: none;
        }
    }

    .texto {
        .grid__h__dos {
            @include mq_texto (1.3rem, 2.3rem);
            padding-left: 2%;
        }
    }

    .nosotros {
        .grid__container__collage {
            @include grid($anchura - 5, 60vh, 5% auto, grid, repeat(3, 1fr), repeat(2, 1fr), "masa masa frutitas""tortitas mesa mesa", 2%);
        }
    }

    .footer {
        div {
            h3 {
                @include mq_texto (0.9rem, 1.8rem);
            }
        }
    }
}


/*-------------------------PHONES------------------------------*/
@media (max-width: 500px) {

    .main {
        .introduccion {
            h1 {
                @include mq_texto (1.8rem, 2.2rem);
            }
        }

        .grid__catring__infnatiles {
            @include mq_grid (auto, "foto__vertical foto__vertical""texto texto");
            margin-bottom: 8%;

            .foto__horizontal {
                display: none
            }
        }

        .boton__box {
            button {
                @include mq_texto (1.3rem, 2.2rem);
            }
        }
    }
}

@media (max-width: 420px) {

    .main {
        .hero {
            .titulo__hero {
                width: 98%;
                font-size: 2rem;
                line-height: 3rem;
                letter-spacing: 0.3rem;
            }
        }

        .introduccion {
            h1 {
                @include mq_texto (1.6rem, 2.2rem);
            }
        }


        .grid__catring__infnatiles {
            .texto {
                .grid__h__dos {
                    @include mq_texto (1.2rem, 2rem);
                }
            }
        }
    }

    .footer {
        div {
            h3 {
                @include mq_texto (0.8rem, 1.7rem);
            }
        }
    }
}

@media (max-width: 359px) {

    .main {
        .texto {
            .grid__h__dos {
                @include mq_texto (1.1rem, 2.2rem);
            }
        }
    }

    .footer {
        div {
            h3 {
                @include mq_texto (0.7rem, 1.6rem);
                letter-spacing: 0.07rem;
            }
        }

        h4 {
            @include mq_texto (0.7rem, 1.5rem);
        }
    }
}