@mixin tipografias ($font, $size, $weight, $high, $align, $transfom, $decoration, $space) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    line-height: $high;
    text-align: $align;
    text-transform: $transfom;
    text-decoration: $decoration;
    letter-spacing: $space;
}