.footer {
    @include flex($anchura, flex, row, space-between, flex-end, wrap, 0, 3%);
    background-color: $fondo-principal;
    grid-area: footer;

    div {
        @include flex(50%, flex, column, center, center, wrap, 0, 0);

        img {
            width: 30px;
            height: 30px;
        }
    }

    p {
        font-size: 0.7rem;
        margin-bottom: 0;
        width:25%;
    }

    h4 {
        width:25%;
        text-align: end;
    }
}