.footer {
    @include flex($anchura, flex, row, space-evenly, flex-end, wrap, 0, 3%);
    background-color: $fondo-footer;
    grid-area: footer;

    div {
        @include flex($anchura - 50, flex, column, center, center, wrap, 0, 0);

        img {
            width: 30px;
            height: 30px;
        }
    }

    p {
        font-size: 0.7rem;
        margin-bottom: 0;
    }
}