.footer {
    background-color: $fondo-footer;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5% 7% 1% 7%;
    grid-area: footer;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 30px;
            height: 30px;
        }
    }

    p {
        width: 20%;
        font-size: 0.7rem;
        margin-bottom: 0;
    }

    h4 {
        width: 20%;

    }
}