.header {
    grid-area: header;
    
    nav {
        background: linear-gradient(rgba(230, 199, 195, 0.621), rgba(249, 247, 247, 0.481));

        div {
            .navbar-toggler {
                border: none;
                border-radius: 0;
                background: linear-gradient(rgba(238, 187, 187, 0.481), rgba(249, 247, 247, 0.481));
            }

            div {
                ul {
                    li {
                        text-align: end;

                        $colores: (contacto: #D2EEBB 6px solid,
                                nosotros:#F6F1C1 6px solid,
                                catering:#F6C6C1 6px solid,
                                a__la__carta:#CBDBEE 6px solid,
                                box__de__regalo:#E9E1F0 6px solid,
                            );

                        @each $seccion,
                        $borde in $colores {
                            .hover__#{$seccion}:hover {
                                border-top: $borde;
                            }
                        }

                        $degrade: (contacto:linear-gradient(rgba(181, 228, 172, 0.481), rgba(249, 247, 247, 0.481)),
                            nosotros:linear-gradient(rgba(225, 228, 172, 0.481), rgba(249, 247, 247, 0.481)),
                            catering: linear-gradient(rgba(228, 195, 172, 0.481), rgba(249, 247, 247, 0.481)),
                            a__la__carta:linear-gradient(rgba(172, 212, 228, 0.481), rgba(249, 247, 247, 0.481)),
                            box__de__regalo:linear-gradient(rgba(189, 172, 228, 0.481), rgba(249, 247, 247, 0.481)),
                        );

                        @each $secciones,
                        $fondo in $degrade {
                            .hover__#{$secciones}:active {
                                background-image: $fondo;
                            }
                        }


                        a {
                            font-family: inter;
                            font-size: 0.9rem;
                            font-weight: 400;
                            letter-spacing: 2px;
                            line-height: 1rem;
                            text-decoration: none;
                            text-transform: uppercase;
                            transition-property: all;
                            transition-duration: 0.5s;
                            transition-timing-function: linear;
                        }
                    }
                }
            }
        }
    }
}