.header {
    grid-area: header;

    nav {
        background: linear-gradient(rgba(230, 199, 195, 0.621), rgba(249, 247, 247, 0.481));

        div {
            .navbar-toggler {
                border: none;
                background-color:transparent;
            }

            div {
                ul {
                    li {
                        text-align: end;

                        $colores: (contacto: #cfb664 6px solid,
                                nosotros:#c89c73 6px solid,
                                catering:#d7a49e 6px solid,
                                a__la__carta:#ad98bf 6px solid,
                                box__de__regalo:#a5bdda 6px solid,
                            );

                        @each $seccion,
                        $borde in $colores {
                            .hover__#{$seccion}:hover {
                                border-top: $borde;
                            }
                        }

                        $degrade: (contacto:linear-gradient(rgba(226, 228, 172, 0.481), rgba(249, 247, 247, 0.481)),
                            nosotros:linear-gradient(rgba(225, 228, 172, 0.481), rgba(249, 247, 247, 0.481)),
                            catering: linear-gradient(rgba(228, 195, 172, 0.481), rgba(249, 247, 247, 0.481)),
                            a__la__carta:linear-gradient(rgba(189, 172, 228, 0.481), rgba(249, 247, 247, 0.481)),
                            box__de__regalo:linear-gradient(rgba(172, 212, 228, 0.481), rgba(249, 247, 247, 0.481)),
                        );

                        @each $secciones,
                        $fondo in $degrade {
                            .hover__#{$secciones}:active {
                                background-image: $fondo;
                            }
                        }


                        a {
                            @include tipografias(inter, 0.9rem, 400, 1rem, end, uppercase, none, 0.1rem);
                            transition-property: all;
                            transition-duration: 0.5s;
                            transition-timing-function: linear;
                        }
                    }
                }
            }
        }
    }
}