.main {
    .introduccion {
        @include flex($anchura, flex, row, center, center, wrap, 0, 8% 11%);
        background-color: $fondo-principal;

        h1,
        h2 {
            margin-right: 3%;
            width: $anchura - 66;
        }

        p {
            width: $anchura - 40;

            a {
                text-decoration: none;
                transition: 0.5s;

                &:hover {
                    border-bottom: #decbcba8 4px solid;
                    color: #9e6155;

                }
            }
        }
    }
}