.main {

    .fondo__servicio__index {

        .introduccion {
            padding: 8% 2% 2% 2%;
            margin: 0%;

            h2 {
                margin-right: 0%;
                width: 40%;
            }
        }
    }


    .productos {

        .introduccion {
            background-color: $fondo-secundario;
        }
    }

    .inspirate {
        .introduccion {
            background-color: $fondo-secundario;
        }
    }


    .introduccion {
        width: 100%;
        background-color: $fondo-principal;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 8% 11%;

        .titulo__secciones {
            font-family: Inter;
            font-size: 36px;
            font-weight: 400;
            line-height: 44px;
            text-transform: uppercase;
            text-align: left;
            margin-right: 3%;
            width: 36%;
        }

        h2 {
            @extend .titulo__secciones;
            font-size: 28px;
            line-height: 40px;
        }


        p {
            width: 60%;
        }

    }
}