.main {
    .introduccion {
        @include flex($anchura, flex, row, center, center, wrap, 0, 8% 11%);
        background-color: $fondo-principal;

        h1,
        h2 {
            margin-right: 3%;
            width: $anchura - 66;
        }

        p {
            width: $anchura - 40;

            a {
                padding: 3px;
                background-color: $fondo-transparent;
                text-decoration: none;
                transition: 0.5s;

                &:hover {
                    color:$color-destacado;
                }
            }
        }
    }
}